<h1>update User</h1>

<%= form_with model: @user, local: true do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>


  <div>
    <%= form.label "date of birth" %>
    <%= form.datetime_field :dob %>
  </div>


  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div>
    <%= form.label :ssn %>
    <%= form.text_field :ssn %>
  </div>

  <div>
    <%= form.label :linkedin_profil %>
    <%= form.text_field :linkedin_profil %>
  </div>

  <div>
    <%= form.label :adress %>
    <%= form.text_field :adress %>
  </div>

  <div>
    <%= form.submit "Update a User" %>
  </div>
<% end %>


<%= button_to 'cancel' , users_path, method: :get%>