<body class="bg-light">
  <div class="container py-5">
    <!-- Page Title -->
    <h1 class="text-center mb-4">Books List</h1>
    Favorite Books: <%= current_user.favorites.count%>

    <!-- Books Display -->
    <div class="row">
      <% @all_books.each do |book| %>
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5> <%= link_to book.title, book_path(book), class: 'card-title text-primary' %></h5>

              <p class="card-text"><strong>Author Name:</strong> <%= book.user.full_name %></p>
              <p class="card-text"><strong>Books Published:</strong> <%= book.user.books.count %></p>
              <p class="card-text"><strong>Published At:</strong> <%= book.time_ago %></p>
              <% if user_signed_in? %>
                <%if book.user.id == current_user.id%>
                  <i class="fa fa-crown"></i>
                <%elsif !current_user.favorite_books.include?(book)%>
                  <%= button_to add_book_to_favorites_path(book_id:book.id), method: :post, title: 'add to favorite' do %>
                  <i class="fa fa-heart text-secondary"></i>
                  <%end%>
                <%else%>
                  <%= button_to remove_book_from_favorites_path(book_id:book.id), method: :delete, title: 'remove from favorites' do %>
                    <i class="fa fa-heart text-danger"></i>
                  <%end%>
                <%end%>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    </div>

  <div class="d-flex justify-content-center">
    <%= paginate @all_books %>
  </div>

    <!-- Action Buttons -->
    <div class="text-center mt-4">
      <% if user_signed_in? %>
        <%= button_to 'My Favorites Books', favorites_path, method: :get, class: 'btn btn-primary' %>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= button_to 'Sign In', new_user_session_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</body>

